.book-list{
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    text-align: center;
}

@media screen and (max-width: 780px) {
   .book-list{
        grid-template-columns: repeat(2,1fr);
   }
  }

  @media screen and (max-width: 560px) {
    .book-list{
         grid-template-columns: repeat(1,1fr);
    }
   }

.book{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px ;
    padding: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    width: 250px;
}

.book-title h4{
    /* color:yellow; */
    color:#4f627f;
    font-weight: bold;
    font-size: 14px;
}
.book-img img{
    width: 200px;
    height: 200px;
    transition: all 0.3s ease;
}
img:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.book-btn button{
    padding: 10px;
    background-color: black;
    color: white;
    width:200px;
    font-size: 20px;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    color: red;
    background-color: white;
    font-weight: bold;
}